 
#search{
	 padding-left:1000px;
}

#link{
	color:tomato;
	margin-left:45%;
}

h4{
	padding-left:30px;  	
}
.title{
	font-family:sanserif;
	font-size:20px; 
	margin-left:800px;
	//margin-top:0px;
}
.date{
    color:#cc0099;	
}

.post{
margin-left:30px;
}

.post p {
margin-left:50px;
}	

#one{
	margin-left:50px;
}